@import "tailwindcss";

:root {
  --background: #ffffff;
  --header: #008080;
  --font-family: "Poppins", sans-serif;
  --foreground: #4b5563;
}

body  {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.header .footer {
  background-color: var(--header);
  color: white;
}

a{
  font-family: "Poppins", sans-serif;
}